:root {
    --onyx: #424B54;
    --maxblue: #FF715B;

    /* --onyx: #424B54;
    --maxblue: #BF0603; */

    /* --onyx: #3E442B;
    --maxblue: #FA824C; */
    /* --onyx: #A1B5D8;
    --maxblue: #738290; */
  }

* {
    box-sizing: border-box;
  }

.col-1 {width: 100%;}
.col-4 {width: 100%;}
.col-7 {width: 100%;}

[class*="col-"] {
    float: left;
    padding: 8px;
    /* border: 1px solid red; */
  }

a {
    color: var(--onyx);
}

.row {
    margin: 2em;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.header {
    font-size: 3em;
    color: var(--onyx);
    /* margin-bottom: 0.5em; */
}

.description {
    margin-bottom: 1em;
    font-size: 2em;
    color: var(--onyx);
}

.story {
    color:var(--maxblue);
    font-style: italic;
}

.secret {
    visibility: visible;
}

.socials {
    /* position: absolute;
    bottom: 6em; */
    margin-top: 0;
    font-size: 0.5em;
    visibility: hidden;
}


.icons {
    text-decoration: underline;
    margin-right: 0.5em;
    /* color:var(--maxblue); */
    visibility: hidden;
}

.name {
    margin-bottom: 0em;
}

.about {
    margin-bottom: 2em;
}

.socials-mobile {
    padding: 15px;
    visibility: visible;
}

.icons-mobile {
    visibility: visible;
    margin-right: 100px ;
}